/*
 *= require_tree .
 *= require_self
 */

$green: #5AAC56;
$green-accent: #8DCF8A;
$blue: #41817F;
$blue-accent: #679B99;
$orange: #D4996A;
$orange-accent: #FFD0AA;
$red: #D3696C;
$red-accent: #FDA8AA;
$black: #212121;
$white: #eeeeee;
$font: 'Open Sans', Helvetica, Arial, sans-serif;

/* ************* UNIVERSAL ************* */

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.75em;
  font-family: $font;
  font-weight: 300;
  color: $black;
  background: $white;
}

a {
  color: $red;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $red-accent;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

::selection {
  color: $white;
  background: $red;
}

::-moz-selection {
  color: $white;
  background: $red;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.a {
	color: $red;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $red-accent;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

/* ************* SPACING & SIZE ************** */

.one-space {
	margin: 1vh 0;
}

.two-space {
	margin: 2vh 0;
}

.three-space {
	margin: 3vh 0;
}

.five-space {
	margin: 5vh 0;
}

.crazy-tiny-text {
	font-size: .5em;
}

.tiny-text {
	font-size: .75em;
}

.normal-text {
	font-size: 1em;
}

.medium-text {
	font-size: 1.5em;
}

.large-text {
	font-size: 2em;
}

.inline {
	display: inline-block;
}

.artist-sidebar {
	margin: 2vh 0;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.artist-content {
	margin: 2vh 0;
  width: 78%;
  display: inline-block;
  vertical-align: top;
}

.no-cover-photo {
  width: 90%;
  margin: 10vh auto;
  text-align: center;
  font-size: 2em;
  line-height: 1.25em;
}

/* ************* JAVASCRIPT ************* */

#posts {

}

#postsclick {
	color: $red;
	cursor: pointer;
	border-left: $red 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#photos {
	display: none;	
}

#photosclick {
	color: $red;
	cursor: pointer;
	border-left: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#videos {
	display: none;
}

#videosclick {
	color: $red;
	cursor: pointer;
	border-left: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#tours {
	display: none;
}

#toursclick {
	color: $red;
	cursor: pointer;
	border-left: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#merch {
	display: none;
}

#merchclick {
	color: $red;
	cursor: pointer;
	border-left: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#music {
	display: none;	
}

#musicclick {
	color: $red;
	cursor: pointer;
	border-left: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#profile {
	display: none;
}

#profileclick {
	color: $red;
	cursor: pointer;
	border-left: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#artistpostlink {
	display: none;
}

#artistpostimage {
	display: none;
}

/* ************** NAV **************** */

.nav {
  width: 100%;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding: 2vh 2vw;
      position: relative;
    }
  }
}

.nav-links {
  color: $black;
  &:hover {
    color: $red;
  }
}


/* ******************* FORMS ************** */

.form-container {
	
}

.text-field {
	width: 100%;
  font-size: 1.25em;
  font-weight: 100;
  padding: 1vh 1vw;
  background: $white;
  border-bottom: 1px solid $black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $black;
  }
}

.text-area {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 25vh;
  font-size: 18px;
  padding: 20px;
  background: $white;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid $black;
  display: inline-block;
  box-sizing: border-box;
  &:focus {
    border: 3px solid $black;
  }
}

.label {
	font-weight: 100;
	font-size: 1.25em;
}

.submit-button {
  width: 100%;
  padding: 2vh 5vw;
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
  border: 3px solid $red;
  background-color: transparent;
  color: $red;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $red;
    color: #fff;
  }
}

.follow-button {
  width: 25%;
  display: inline-block;
  padding: 16px 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border: 3px solid $red;
  background-color: transparent;
  color: $red;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $red;
    color: #fff;
  }
}

.unfollow-button {
  width: 25%;
  display: inline-block;
  padding: 10px 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border: 3px solid $red;
  background-color: transparent;
  color: $red;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $red;
    color: #fff;
  }
}

.checkbox-dropdown {
	width: 10%;
	display: inline-block;
  padding: 10px 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border: 3px solid $red;
  background-color: transparent;
  color: $red;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $red;
    color: #fff;
  }
}

.checkbox-container {
	display: none;
	margin: 1vh 0;
	ul {
		list-style: none;
		padding: 0;
		li {

		}
	}
}

.small-button {
	width: 15%;
  margin: 1vh auto;
  padding: 16px 1vw;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  border: 3px solid $red;
  background-color: transparent;
  color: $red;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: $red;
    color: #fff;
  }
}




