/*
 *= require_tree .
 *= require_self
 */

$green: #5AAC56;
$green-accent: #8DCF8A;
$blue: #41817F;
$blue-accent: #679B99;
$orange: #D4996A;
$orange-accent: #FFD0AA;
$red: #D3696C;
$red-accent: #FDA8AA;
$black: #212121;
$white: #eeeeee;
$font: 'Open Sans', Helvetica, Arial, sans-serif;

/* ************* UNIVERSAL ************* */

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.75em;
  font-family: $font;
  font-weight: 300;
  color: $black;
  background: $white;
}

a {
  color: $red;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $red-accent;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

::selection {
  color: $white;
  background: $red;
}

::-moz-selection {
  color: $white;
  background: $red;
}

