/*
 *= require_tree .
 *= require_self
 */

$green: #5AAC56;
$green-accent: #8DCF8A;
$blue: #41817F;
$blue-accent: #679B99;
$orange: #D4996A;
$orange-accent: #FFD0AA;
$red: #D3696C;
$red-accent: #FDA8AA;
$black: #212121;
$white: #eeeeee;
$font: 'Open Sans', Helvetica, Arial, sans-serif;

/* ************* UNIVERSAL ************* */

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.75em;
  font-family: $font;
  font-weight: 300;
  color: $black;
  background: $white;
}

a {
  color: $red;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $red-accent;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

::selection {
  color: $white;
  background: $red;
}

::-moz-selection {
  color: $white;
  background: $red;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/* ************* SPACING ************** */

.one-space {
	margin: 1vh 0;
}

.two-space {
	margin: 2vh 0;
}

.three-space {
	margin: 3vh 0;
}

/* ************* JAVASCRIPT ************* */

#posts {

}

#postsclick {
	color: $red;
	cursor: pointer;
	border-bottom: $red 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#photos {
	display: none;	
}

#photosclick {
	color: $red;
	cursor: pointer;
	border-bottom: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#videos {
	display: none;
}

#videosclick {
	color: $red;
	cursor: pointer;
	border-bottom: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#tours {
	display: none;
}

#toursclick {
	color: $red;
	cursor: pointer;
	border-bottom: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#merch {
	display: none;
}

#merchclick {
	color: $red;
	cursor: pointer;
	border-bottom: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#music {
	display: none;	
}

#musicclick {
	color: $red;
	cursor: pointer;
	border-bottom: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

#profile {
	display: none;
}

#profileclick {
	color: $red;
	cursor: pointer;
	border-bottom: transparent 3px solid;
	-webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
	&:hover {
		color: $red-accent;
		-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	}
}

/* ************** NAV **************** */

.nav {
  width: 100%;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 2vh 2vw;
      position: relative;
    }
  }
}

.nav-links {
  color: $black;
  &:hover {
    color: $red;
  }
}